@tailwind base;
@tailwind components;
@tailwind utilities;

.after-header-bg::after {
  content: "";
  position: absolute;
  top: 4rem;
  left: 0;
  display: block;
  background-color: #222831;
  height: 1rem;
  width: 100%;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.after-header-bg::before {
  content: "";
  position: absolute;
  top: 4rem;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  border-top: 2px solid #eeeeee;
}
.nav-links > a {
  @apply focus:underline;
}
.card-curve-before::before {
  --border-r: 1rem;
  content: "";
  width: var(--border-r);
  height: var(--border-r);
  position: absolute;
  border-radius: 100vw;
  right: -15%;
  rotate: 90deg;
  bottom: 0;
  z-index: 0;
  border-radius: 0 0 100vw 0;
  box-shadow: 10px 10px 0 10px white;
}
.card-curve-after::after {
  --border-r: 1rem;
  content: "";
  width: var(--border-r);
  height: var(--border-r);
  position: absolute;
  border-radius: 100vw;
  right: calc(var(--border-r) * -1);
  rotate: 180deg;
  top: 0;
  z-index: 0;
  border-radius: 0 0 100vw 0;
  box-shadow: 10px 10px 0 10px white;
}
.zoom-hover-container {
  position: relative;
  overflow: hidden;
}

.zoom-hover-container img {
  transition: transform 0.3s ease;
}

.zoom-hover-container:hover img {
  transform: scale(1.05);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.border-longer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2rem;
  width: calc(100% + 4rem);
  display: block;
  border-bottom: 1px solid white;
  background-color: #eeeeee;
}

.shape-outside {
  shape-outside: circle(50%);
}
