@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-underline {
  position: relative;
}
.nav-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  border-bottom: 1px solid;
}

.zoom-hover-container {
  position: relative;
  overflow: hidden;
}

.zoom-hover-container img {
  transition: transform 0.3s ease;
}

.zoom-hover-container:hover img {
  transform: scale(1.05);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.border-longer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2rem;
  width: calc(100% + 4rem);
  display: block;
  border-bottom: 1px solid white;
  background-color: #eeeeee;
}

.shape-outside {
  shape-outside: circle(50%);
}

input {
  box-shadow: none;
  outline: none;
}

body:has(.model) {
  .model,
  .model * {
    pointer-events: all;
  }
  :not(.model, .model *) {
    pointer-events: none;
  }
}

.ql-container {
  border: none !important;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

:root {
  --background-gradient: linear-gradient(
    270deg,
    #ff9a9e,
    #fad0c4,
    #fad0c4,
    #ff9a9e
  );
  --text-color: #000000;
  --background-size: 400% 400%;
  --background-theme: #ff9a9e;
  --background-theme-1: #ff403d;
  --background-theme-2: #ffac3f;
  --highlight-color: #6690ff;
  --highlight-color-text: #302872;
}

.dark {
  --background-gradient: linear-gradient(
    270deg,
    #121212,
    #3a3a3a,
    #3a3a3a,
    #121212
  );
  --text-color: #ffffff;
  --background-theme: #121212;
  --background-theme-1: #7a0b2f;
  --background-theme-2: #7a370c;
  --highlight-color: #091a7a;
  --highlight-color-text: #6455e9;
}

.bg-text {
  background-color: var(--text-color);
}

.like-svg-color-default {
  fill: var(--background-theme);
}
.like-svg-color-liked {
  fill: var(--highlight-color);
}

body {
  background: var(--background-gradient);
  color: var(--text-color);
  background-size: var(--background-size);
  animation: gradientShift 15s ease infinite;
  transition: background 0.5s ease, color 0.5s ease;
}
.card-curve-before::before {
  --border-r: 1rem;
  content: "";
  width: var(--border-r);
  height: var(--border-r);
  position: absolute;
  border-radius: 100vw;
  right: -15%;
  rotate: 90deg;
  bottom: 0;
  z-index: 0;
  border-radius: 0 0 100vw 0;
  box-shadow: 10px 10px 0 10px var(--background-theme);
}
.card-curve-after::after {
  --border-r: 1rem;
  content: "";
  width: var(--border-r);
  height: var(--border-r);
  position: absolute;
  border-radius: 100vw;
  right: calc(var(--border-r) * -1);
  rotate: 180deg;
  top: 0;
  z-index: 0;
  border-radius: 0 0 100vw 0;
  box-shadow: 10px 10px 0 10px var(--background-theme);
}
svg {
  fill: var(--text-color);
}

.background-theme {
  background-color: var(--background-theme);
}

.background-theme-1 {
  background-color: var(--background-theme-1);
}
.background-theme-2 {
  background-color: var(--background-theme-2);
}

.highlight-theme-background {
  background-color: var(--highlight-color);
}
.highlight-theme-text {
  color: var(--highlight-color-text);
}
